*
{
    box-sizing: border-box;
	margin: 0;
	padding: 0;  
}

#btnUp
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 7776;
    background-color:#ec3237!important;
  
}
#btnUp i
{
      color: white;
}
.header
{
    background-image: url(../imgs/cover-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
}

.navigation
{
    margin: 0px;
    padding: 0px;
    padding-right: 40px;
    padding-left: 40px;
    z-index: 2;
    transition: all ease 0.5s;
    position: fixed;
    background-color: transparent;
    overflow: auto;
}
.logo
{
    float: left;
}
.title h4
{
    font-weight: bold;
    font-size: 20px;
    color: white;
    transition: all 0.5;
}
.title:hover h4
{
    color: rgb(68, 68, 68);
    cursor: pointer;
}
.topbar
{
    float: left;
}
.topbar ul li
{
    list-style: none;
    float: left;
    padding-right: 20px;
   
}

.topbar li a
{
   text-decoration: none;
    font-size: 18px;
}

.item
{
    color: white;
   transition: all 0.5;  
}
.item:hover li a
{
    color: black !impartant;
    cursor: pointer;
}
.test2 h1
{
    color: white;
    font-size: 70px;
    font-weight: 700;
    text-shadow: 0px 5px 10px #af2424;
    margin-bottom: 0;
}
.test2 h3
{
    color: white;
}
.test2 p
{
    color: #af2424!important;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
.btn
{
    padding: 8px 25px;
}
.btknow
{
    border:1px solid white;
    border-radius: 3px;
    padding: 50px 10px;
    background-color: transparent;
    color: white;
    font-size: 15px;
}
.btknow a
{
    text-decoration: none;
    padding: 5px 20px;
    color: white;
}
.scroll
{
  display: block;
    padding: 10px;
    position: absolute;
    left: 48%;
    bottom: -100px;
   
}
.team-detail h2
{
    color: #af2424;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
}
.team-detail h4
{
    color: rgb(68, 68, 68);
    font-size: 20px;
    font-weight: 500; 
     margin-bottom: 15px;
}
.team-detail p
{
    color: rgb(68, 68, 68);
    opacity: 0.7;
    font-size: 15px;
    font-weight: 400; 
    line-height: 2;
     margin-bottom: 15px;
}
.btn1
{
    padding: 5px 15px;
}

.btn_inverse
{
    background-color: transparent;
    border: 1px solid #af2424;
    color: #af2424;
}
.btn_inverse a
{
   color: #af2424;
    text-decoration: none;
}
.muted
{
    color: #9e9e9e;
}
.image img
{
    width: 100%;
}
.expertise
{
    background-color: #ec3237;
}
.expertise-detail h2
{
    color: white;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
}
.expertise-detail h4
{
    color: white;
    font-size: 20px;
    font-weight: 500; 
     margin-bottom: 15px;
}
.btn1_inverse
{
     background-color: transparent;
    border: 1px solid white;
    color: white;
}
.expertise-detail p
{
    color: white !important;
    opacity: 0.7;
    font-size: 15px;
    font-weight: 400; 
    line-height: 2;
     margin-bottom: 15px;
}
.btn1_inverse a
{
   color: white;
    text-decoration: none;
}
.join_title h1
{
       color: #af2424;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}
.join_title h3
{
     color: rgb(68, 68, 68);
    font-size: 20px;
    font-weight: 500; 
 
}
.carousel-item
{
    overflow: hidden;
    margin-bottom: 15px;
}
.coltest
{
    width: 100%;
    padding-right: -5px;
    float: left;
}
.coltest img
{
    height: 250px;
    position: relative;
}
.carousel-control-prev
{
    background-color: #9e9e9e;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: -30px;
}
.carousel-control-next
{
    background-color: gray;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: -30px
}















.footer 
{
    background-color: #1a1a1a;
    color: #6a6a6a;
}
.footer h2
{
    font-weight: 700;
}
.footer h3
{
    font-size: 25px;
}
.info p
{
    line-height: 2;
    color: #555555!important;
}
.info p a
{
    text-decoration: none;
    color: #444444;
}
.social_icons ul li
{
    display: inline-block;
    padding:15px 15px;
    border:1px solid #9e9e9e;
}
.social_icons ul li a
{
    color: white;
}
.social_icons li:hover
{
    background-color: #ec3237;
    color: #fff;
    border: 1px solid #ec3237;
    cursor: pointer;
}
.form-control
{
    border-radius: 0px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #6a6a6a;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}
.form-control:active
{
    background-color: azure;
}
.btn-cta
{
    padding: 10px 25px;
    color: white;
    border: 1px solid #6a6a6a;
    border-radius: 0px;
    transition: all 0.3s;
}
.btn-cta:hover
{
    background-color: #ec3237;
    color: white;
    border: 1px solid #1a1a1a;
}
.copyright
{
  
    padding: 5px 0px;
    background-color: #171717;  
}
.copyright p
{
    color: white!important;
    opacity: 0.3;
}
.link 
{
    color: white!important;
    opacity: 1;
    text-decoration: none!important;
}


